@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-gray-800;
  }
}
@layer utilities {
  .container {
    width: 100%;
  }
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }
}

/* Scrollbar start */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #ff007f;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff007f;
}

.filter_scrollbar::-webkit-scrollbar {
  display: none;
}

select:focus {
  outline: 1px solid #ff007f;
}

.customModal {
  max-width: 345px !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.filter_scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Scrollbar End */

/*  Slick slider css*/
.slick-slide div {
  outline: none;
}

/* End Slick slider css*/

/* Sub header Category css */
.category-dropdown {
  position: relative;
  display: inline-block;
}

.category-dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 12px 16px;
  position: absolute;
  top: 28px;
  left: -10px;
}

.category-dropdown:hover .category-dropdown-content {
  display: block;
}
.position-inherit {
  position: inherit !important;
}

.slick-dots {
  bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .slick-dots {
    display: none !important;
  }
}
.slick-dots li {
  width: 25px;
  height: 15px;
}
.slick-dots li button:before {
  width: 25px;
  background-color: #ff007f;
  height: 10px;
  border-radius: 27%;
  content: "";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* filter Price Range start */
.range-slider__range {
  background: #fff !important;
  transition: height 0.3s !important;
}
.range-slider__thumb {
  background-color: #fff !important;
}

.range-slider__thumb {
  border: 5px solid red;
  box-sizing: border-box;
}
@media only screen and (max-width: 639px) {
  .range-slider__thumb {
    width: 18px !important;
    height: 18px !important;
  }
}

.range-slider__range {
  /* background: linear-gradient(to right, #0073e6, #ee2c2c) !important; */
  background: #ff007f !important;
  background-size: 200% 100% !important;
  background-position: 50% 0 !important;
}

.range-slider__range[data-active],
.range-slider__thumb[data-active] ~ .range-slider__range {
  animation: move-bg 0.75s infinite linear !important;
}

@keyframes move-bg {
  0% {
    background-position: 50% 0;
  }

  25% {
    background-position: 100% 0;
  }

  50% {
    background-position: 50% 0;
  }

  75% {
    background-position: 0% 0;
  }

  100% {
    background-position: 50% 0;
  }
}

/* filter Price Range end */

/* start Odometer css  */
.odometer.odometer-auto-theme,
.odometer.odometer-theme-car {
  border-radius: inherit;
}
.odometer.odometer-auto-theme .odometer-digit:first-child,
.odometer.odometer-theme-car .odometer-digit:first-child {
  border-radius: inherit !important;
}
.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-car .odometer-digit {
  background-image: inherit !important;
  background-image: inherit !important;
  background-image: inherit !important;
  background-image: inherit !important;
  padding: 2px;
}
.odometer.odometer-auto-theme .odometer-digit:last-child,
.odometer.odometer-theme-car .odometer-digit:last-child {
  border-radius: inherit !important;
  background-image: inherit !important;
  background-color: inherit !important;
  color: #fff;
}
/* end Odometer css  */
/* start top item price  */
.top_item_price {
  right: 0px;
  position: fixed;
  top: calc(180px + 20%);
  z-index: 20;
  max-width: 60px;
  max-height: 66px;
}
/* end top item price  */

/* start product zoom img */
.left {
  display: flex;
  height: 50vh;
}
.left_1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 10px;
}

.img_wrap {
  width: 50px;
  height: 50px;
  box-shadow: rgba(255, 0, 127, 0.16) 0px 1px 4px,
    rgb(255, 0, 127) 0px 0px 0px 1px;
  cursor: pointer;
  border-radius: 10px;
}
.img_wrap img {
  width: 50px;
  height: 50px;
  /* object-fit: contain; */
  border-radius: 10px;
}

.left_2 img {
  width: 500px;
  height: 100%;
  /* object-fit: contain; */
}
.left_2 {
  width: 400px;
  height: 400px;
  /* object-fit: contain; */
}
.product_zoom_active {
  /* border: 2px solid #e77600; */
  box-shadow: rgba(255, 0, 127, 0.16) 0px 1px 4px,
    rgb(255, 0, 127) 0px 0px 0px 3px;
}
/* end product zoom img */

/* Start react responsive carousel */
.carousel.carousel-slider .control-arrow {
  display: none;
}
.carousel .control-dots .dot {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 1) !important;
  background: #ff007f !important;
  width: 9px;
  height: 9px;
}
/* End react responsive carousel */

/* Start custom css of sweetalert2 */
.custom-swal-title {
  font-size: 18px;
}
.custom-swal-confirm-button {
  font-size: 16px;
  padding: 5px 10px;
  background-color: #ff007f !important;
}
.custom-swal-cancel-button {
  font-size: 16px;
  padding: 5px 10px;
  background-color: #ff5f84 !important;
}
.custom-swal-icon {
  font-size: 9px;
}
/* End custom css of sweetalert2 */
